
p {
    font-size: 20px;
    color: black;
}

footer {
    display: block;
    background-color: #690202;
    color: blue;
    font-family: arial;
    font-size: 90pt;
    text-align: center;

}

ul.a {
    list-style-type: circle;
    color: black;
}

.img {
    margin: 5px;
    border: 5px solid #ccc;
    border-color: black;
    float: left;
    width: 400px;
}

div.img:hover {
    border: 1px solid #777;
}

div.img img {
    width: 100%;
    height: auto;
}

div.desc {
    padding: 15px;
    text-align: center;
}

ol.b {
    list-style-type: upper-roman;
    color: black;
}

a {
    text-decoration: none;

}

.btn-default {
    background-color: white;
    border: none;
    color: brown;
    padding: 10px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

h1 {
    color: brown;
    text-align: center;
    font-size: 36px;

}
